name: build
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Install tparse
      run: go get github.com/mfridman/tparse
      env: 
        GO111MODULE: on

    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    - name: Test
      run: go test -failfast -race -covermode=atomic -coverprofile=coverage.txt -cover -json ./... | $HOME/go/bin/tparse
      env:
        GO111MODULE: on

    - name: Build
      run: go build -v .
